<html>
    <%- include('partials/header') %>
    <%- include('partials/menu') %>
        <body>
            <main role="main">
                <%- include('partials/titulo') %>
                <div  class="album py-5 bg-light">
                    <div class="container">
                        <div class="contenedor-cards">
                                <% for(var i=0; i< products.length;i++){ %> 
                                    <%- include('models', {product:products[i]})  %> 
                                    <% } %>
                            </div>
                        </div>
                    </div>
            </main>
            <%- include('partials/footer') %>
        </body>
</html>