<div class="card" style="width: 22rem; ">
    <model-viewer 
        class="model card-img-top"    
        src= <%="assets/models/glb/" +  product.modelAndroid %>
        ios-src=<%="assets/models/usdz/" +  product.modelIos %> 
        auto-rotate
        camera-controls
        ar
        skybox-image="./assets/img/spruit_sunrise_1k_HDR.hdr"
        shadow-intensity="1"
        shadow-softness="1"
        poster ="./assets/thumbnails/robotech.png">  
            <button class="Hotspot"  
                data-bs-toggle="modal" 
                data-bs-target="#arModal" 
                slot="hotspot-3" 
                data-position="0.23100925665200728m 0.6025651278145384m -0.04423205011744791m" 
                data-normal="0.9999999999927691m -0.000003801820573102254m 8.896296834302009e-8m" 
                data-visibility-attribute="visible">
                <div class="HotspotAnnotation">Turbina</div>
            </button> 
            <button slot="ar-button" style=" border-radius: 4px; border: none; position: absolute; bottom: 16px; right: 16px; " class="btn btn-primary">
                Ver en AR
            </button>
            
            <%- include('control') %>
    </model-viewer> <!-- https://modelviewer.dev/ -->


    <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text"><%= product.info %></p>
    </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="arModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <%= product.info %>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

